
# build output
linux-installer
linux-installer-dev
installer
linux-builder.zip
linux-builder.tar.gz
win/
linux-builder/resources/
linux-builder/data*/
linux-builder/rice
linux-builder/rice.exe
linux-builder/linux-installer
resources/gui/gui.so
rice-bin/

# goland project files
.idea/

# any test data
data/*
data-compressed/*

# test log
/installer.log


# The rest created by https://www.gitignore.io/api/go,linux,windows

### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof


### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
