ul.steps {
	overflow: hidden;
	white-space: nowrap;
}

.steps li {
	display: inline-block;
	padding: 20px;
	width: 60%;
	min-width: 500px;
	background: #ddd;
}

.steps li + li {
	margin-left: 10px;
}

.space{
    height: 30px;
    display: block;
}
